* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  color: #555;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  width: 90%;
  max-width: 1280px;
  padding: 16px 16px;
  margin: 0 8px 16px 8px;
}

#main-header {
  background-color: coral;
  color: #fff;
}

#main-header .row {
  margin: 0;
}

#navbar {
  background-color: #333;
  color: #fff;
}

#navbar ul {
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 16px;
}

#navbar .row {
  margin: 0;
}

#showcase {
  background-image: url("./showcase.jpeg");
  background-position: center right;
  min-height: 300px;
  margin-bottom: 24px;
  text-align: center;
}

#showcase h1 {
  color: #fff;
  font-size: 50px;
}

.main-body-wrapper {
  display: flex;
  box-sizing: border-box;
}

.main-body-wrapper #main {
  width: 70%;
  padding: 0 24px;
}

.main-body-wrapper #sidebar {
  width: 30%;
  padding-left: 8px;
  background-color: #333;
  color: #fff;
}

#main-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 425px) {
  .row {
    width: 87%;
  }
  #showcase h1 {
    color: #fff;
    font-size: 1.5em;
  }
  .main-body-wrapper {
    display: flex;
    flex-direction: column;
  }
  .main-body-wrapper #main {
    width: 100%;
    padding: 0;
  }
  .main-body-wrapper #sidebar {
    width: 100%;
  }
}
