* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 90%;
  max-width: 1280px;
  padding: 16px 16px;
  margin: 0 8px 16px 8px;
}

.box1 {
  border: 4px red solid;
  color: #fff;
  background-color: #000;
  margin-top: 16px;
}

.box2 {
  border: 4px #ccc dotted;
}

hr {
  margin: 16px 0;
}

.category {
  border: 1px #ccc solid;
  border-radius: 15px;
}

.category h1 {
  text-align: center;
}

.category ul {
  list-style: none;
}

.category a {
  text-decoration: none;
  color: #000;
}

.category a:hover {
  color: red;
}

.my-form .form-group{
  margin-bottom: 16px;
}

.my-form label{
  display: block;
} 

.my-form input[type='text'], .my-form input[type='email'], .my-form textarea{
  width: 100%;
} 

.button{
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
}

.button:hover{
  background-color: red;
  color: white;
}

.three-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.three-blocks{
  width: 30%;
  padding: 0 16px;
}

.clearfix{
  clear: both;
}

@media (max-width: 425px) {
  .row {
    width: 87%;
  }
}
